.calendarTile {
    position: absolute;
    background-color: #88aeb3;
    height: 100px;
    width: 100px;
    transform: rotateX(70deg) rotateZ(-45deg);
}

.calendarTile:hover {
    background-color: #E08719;
}